<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	id="WebApp_ID" version="3.1">
	<display-name>CTT03QueryInfo</display-name>
	<session-config>
		<session-timeout>30</session-timeout>
	</session-config>
	<security-constraint>
		<web-resource-collection>
			<web-resource-name>restricted methods</web-resource-name>
			<url-pattern>/*</url-pattern>
			<http-method>GET</http-method>
			<http-method>POST</http-method>
		</web-resource-collection>
	</security-constraint>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
	<listener>
		<description>ServletContextListener</description>
		<listener-class>tw.com.ctt.filter.ContextInitListener</listener-class>
	</listener>
	<filter>
		<filter-name>FlowControlFilter</filter-name>
		<filter-class>tw.com.ctt.filter.FlowControlFilter</filter-class>
		<init-param>
			<param-name>permits</param-name>
			<param-value>128</param-value>
		</init-param>
		<init-param>
			<param-name>timeout</param-name>
			<param-value>15000</param-value>
		</init-param>
		<init-param>
			<param-name>bufferSize</param-name>
			<param-value>500</param-value>
		</init-param>
		<init-param>
			<param-name>errorUrl</param-name>
			<param-value>/error.html</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>FlowControlFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<filter>
		<filter-name>PerformanceFilter</filter-name>
		<filter-class>tw.com.ctt.filter.PerformanceFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>PerformanceFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<filter>
		<filter-name>EncodingFilter</filter-name>
		<filter-class>tw.com.ctt.filter.EncodingFilter</filter-class>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>EncodingFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<filter>
		<filter-name>CheckLoginFilter</filter-name>
		<filter-class>tw.com.ctt.filter.CheckLoginFilter</filter-class>
		<init-param>
			<param-name>exts</param-name>
			<param-value>xhtml,php</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>CheckLoginFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<filter>
		<filter-name>StaticResourceDispatchFilter</filter-name>
		<filter-class>tw.com.ctt.filter.StaticResourceDispatchFilter</filter-class>
		<init-param>
			<param-name>exts</param-name>
			<param-value>xhtml,php</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>StaticResourceDispatchFilter</filter-name>
		<url-pattern>*.xhtml</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>StaticResourceDispatchFilter</filter-name>
		<url-pattern>*.php</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>StaticResourceDispatchFilter</filter-name>
		<url-pattern><![CDATA[/*]]></url-pattern>
		<dispatcher>REQUEST</dispatcher>
	</filter-mapping>
	<filter>
		<filter-name>xssFilter</filter-name>
		<filter-class>tw.com.ctt.filter.XssFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>xssFilter</filter-name>
		<url-pattern>/*</url-pattern>
		<dispatcher>REQUEST</dispatcher>
	</filter-mapping>
	<!-- <servlet> <servlet-name>HelloWorld</servlet-name> <servlet-class>tw.com.ctt.action.HelloWorld</servlet-class> 
		</servlet> <servlet-mapping> <servlet-name>HelloWorld</servlet-name> <url-pattern>/HelloWorld</url-pattern> 
		</servlet-mapping> -->
	<servlet-mapping>
		<servlet-name>default</servlet-name>
		<url-pattern>*.xhtml</url-pattern>
		<url-pattern>*.php</url-pattern>
		<url-pattern>*.html</url-pattern>
		<url-pattern>*.css</url-pattern>
		<url-pattern>*.png</url-pattern>
		<url-pattern>*.jpg</url-pattern>
		<url-pattern>*.svg</url-pattern>
		<url-pattern>*.js</url-pattern>
		<url-pattern>*.gif</url-pattern>
	</servlet-mapping>
	<mime-mapping>
		<extension>html</extension>
		<mime-type>text/html;charset=utf-8</mime-type>
	</mime-mapping>
	<mime-mapping>
		<extension>css</extension>
		<mime-type>text/css;charset=utf-8</mime-type>
	</mime-mapping>
	<mime-mapping>
		<extension>js</extension>
		<mime-type>text/javascript;charset=utf-8</mime-type>
	</mime-mapping>
	<error-page>
		<error-code>400</error-code>
		<location>/building.xhtml</location>
	</error-page>
	<error-page>
		<error-code>401</error-code>
		<location>/building.xhtml</location>
	</error-page>
	<error-page>
		<error-code>403</error-code>
		<location>/building.xhtml</location>
	</error-page>
	<error-page>
		<error-code>404</error-code>
		<location>/building.xhtml</location>
	</error-page>
	<error-page>
		<error-code>405</error-code>
		<location>/building.xhtml</location>
	</error-page>
	<error-page>
		<error-code>406</error-code>
		<location>/building.xhtml</location>
	</error-page>
	<error-page>
		<error-code>407</error-code>
		<location>/building.xhtml</location>
	</error-page>
	<error-page>
		<error-code>408</error-code>
		<location>/building.xhtml</location>
	</error-page>
	<error-page>
		<error-code>409</error-code>
		<location>/building.xhtml</location>
	</error-page>
	<error-page>
		<error-code>410</error-code>
		<location>/building.xhtml</location>
	</error-page>
	<error-page>
		<error-code>411</error-code>
		<location>/building.xhtml</location>
	</error-page>
	<error-page>
		<error-code>412</error-code>
		<location>/building.xhtml</location>
	</error-page>
	<error-page>
		<error-code>413</error-code>
		<location>/building.xhtml</location>
	</error-page>
	<error-page>
		<error-code>414</error-code>
		<location>/building.xhtml</location>
	</error-page>
	<error-page>
		<error-code>416</error-code>
		<location>/building.xhtml</location>
	</error-page>
	<error-page>
		<error-code>500</error-code>
		<location>/error.xhtml</location>
	</error-page>
	<error-page>
		<error-code>501</error-code>
		<location>/error.xhtml</location>
	</error-page>
	<error-page>
		<error-code>502</error-code>
		<location>/error.xhtml</location>
	</error-page>
	<error-page>
		<error-code>503</error-code>
		<location>/error.xhtml</location>
	</error-page>
	<error-page>
		<error-code>504</error-code>
		<location>/error.xhtml</location>
	</error-page>
	<error-page>
		<error-code>505</error-code>
		<location>/error.xhtml</location>
	</error-page>
</web-app>
